@tailwind base;
@tailwind components;
@tailwind utilities;
 
:root  {
  --background: 336 0% 100%;
  --foreground: 336 0% 10%;
  --card: 336 0% 100%;
  --card-foreground: 336 0% 15%;
  --popover: 336 0% 100%;
  --popover-foreground: 336 95% 10%;
  --primary: 336 96.3% 31.6%;
  --primary-foreground: 0 0% 100%;
  --secondary: 336 10% 90%;
  --secondary-foreground: 0 0% 0%;
  --muted: 298 10% 95%;
  --muted-foreground: 336 0% 40%;
  --accent: 298 10% 90%;
  --accent-foreground: 336 0% 15%;
  --destructive: 0 50% 50%;
  --destructive-foreground: 336 0% 100%;
  --border: 336 20% 82%;
  --input: 336 20% 50%;
  --ring: 336 96.3% 31.6%;
  --radius: 0.5rem;
}
.dark  {
  --background: 336 10% 10%;
  --foreground: 336 0% 100%;
  --card: 336 0% 10%;
  --card-foreground: 336 0% 100%;
  --popover: 336 10% 5%;
  --popover-foreground: 336 0% 100%;
  --primary: 336 96.3% 31.6%;
  --primary-foreground: 0 0% 100%;
  --secondary: 336 10% 20%;
  --secondary-foreground: 0 0% 100%;
  --muted: 298 10% 25%;
  --muted-foreground: 336 0% 65%;
  --accent: 298 10% 25%;
  --accent-foreground: 336 0% 95%;
  --destructive: 0 50% 50%;
  --destructive-foreground: 336 0% 100%;
  --border: 336 20% 50%;
  --input: 336 20% 50%;
  --ring: 336 96.3% 31.6%;
  --radius: 0.5rem;
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
